* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    overflow: hidden;
    background-color:#EFB0A1;
    color: #333;
    position: fixed;
    top: -8%;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    padding-left: 5px;
  }
  nav ul li {
    display: inline;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  .social-media{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center ;
    align-items: center;
    margin-left: 271px;
    
  }
  .social{
    margin: 10px 15px;
   
  }
  .social img{
    width: 40px;
    
  }
  .container2{
      position: relative;
  }
  .show-logo {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #EFB0A1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
  }
  
  .loading-logo {
    width: 300px;
  }
  
  .dummy {
    width: 100%;
    height: 100vh;
  }
  
  .hide {
    display: none;
  }
  /* .nav-entry{
      translate: ;
  } */
  .logo {
    position: relative;
    left: -10%;
    width: 60px;
  }
  .dummy img {
    width: 100%;
    height: fit-content;
  }
  #countdown {
    position: fixed;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: black;
    /* background-color: white; */
    padding: 1rem;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
    /* width: 100%;
    height: 100%; */
    top: 50%;
    left: 50%;
    color: #22333B;
    transform: translate(-50%, -50%);
}
#h1 {
    position: fixed;
    top: 70px;
    color: #22333B;
    left: 70px;
}
#h2 {
    position: fixed;
    top: 120px;
    left: 70px;
    color: #22333B;
    
}

.fade-in {
    opacity: 0;
    animation: fade-in-animation 1s forwards;
  }
  
  @keyframes fade-in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
#countdown span {
    margin: 0.5rem;
    padding: 0.5rem;
    /* background-color: #222; */
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

#countdown span:first-child {
    margin-left: 0;
}

#countdown span:last-child {
    margin-right: 0;
}

#countdown>div {
    margin-right: 5px;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.dev-msg{
  position: fixed;
  top: 15%;
  right: 33%;
}
@media only screen and (max-width: 1200px){
    .navbar {
    overflow: hidden;
    background-color:#EFB0A1;
    color: #333;
    position: fixed;
    top: -8%;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    padding-left: 5px;
  }
  nav ul li {
    display: inline;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  .social-media{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center ;
    align-items: center;
    margin-left: 271px;
    
  }
  .social{
    margin: 10px 15px;
   
  }
  .social img{
    width: 40px;
    
  }
  .container2{
      position: relative;
  }
  .show-logo {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #EFB0A1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
  }
}
/* #social1 {
    position: fixed;
    bottom: 6%;
    left: 10%;
    width: 30px;
    transform: translateX(-50%);
}
#social2 {
    position: fixed;
    bottom: 50px;
    transform: translateX(-50%);
    left: 40%;
}
#social3 {
    position: fixed;
    bottom: 50px;
    left: 60%;
    transform: translateX(-50%);
}
#social4 {
    position: fixed;
    bottom: 50px;
    left: 80%;
    transform: translateX(-50%);
} */
/* body {
    margin: 0;
    padding: 60px 60px 60px 0px;
    background-image: url("../Wallpaper-removebg-preview.png");
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;;
}

.topbar {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: #fff;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    /* z-index: 999; *
}

.logo {
    margin-right: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 30px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #ccc;
}

#countdown {
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: #fff;
    background-color: #00000080;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* width: 100%;
    height: 100%; *
    top: 80px;
    right: 20px;
}
  
#countdown span {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#countdown span:first-child {
    margin-left: 0;
}

#countdown span:last-child {
    margin-right: 0;
}

#countdown>div {
    margin-right: 5px;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
} */
