<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByteLife</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</head>
<body>
    <div class="topbar">
		<div class="logo">
			<img src="{{ url_for('static', filename='Wallpaper_topbar.png') }}" alt="Logo">
		</div>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</nav>
	</div>
    <div id="countdown">
        <span id="days">00</span>
        <span>:</span>
        <span id="hours">00</span>
        <span>:</span>
        <span id="minutes">00</span>
        <span>:</span>
        <span id="seconds">00</span>
    </div>
</body>
</html>